@media (max-width: 960px) {
   .header__menu-btn {
      display: block;
   }
   .header__menu > ul {
      display: none;
      position: absolute;
      top: 135px;
      right: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      background-color: #fff;
      border-bottom: 5px solid $blue;
   }
   .header__menu li {
      display: block;
      text-align: center;
   }
   .header__menu li + li {
      margin-left: 0;
   }
   .header__drop-down.drop-down + .header__link-blog {
      margin-left: 0;
   }
   .header__drop-down.drop-down {
      margin-left: 0;
   }
   .header__drop-down.drop-down + .header__drop-down.drop-down {
      margin-left: 0;
   }
   .header__menu a {
      padding: 12px 0 12px 11px;
      font-weight: 400;
      display: block;
      text-transform: none;
   }
   .header__menu li + li a {
      border-top: 1px solid $blue;
   }
   .header__drop-down.drop-down:hover .drop-down__list {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.7s;
   }
   .header__drop-down.drop-down .drop-down__list {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.7s;
      position: static;
      width: 100%;
      border-bottom: none;
      padding: 0;
   }
   .header__drop-down.drop-down .drop-down__list.active {
      height: auto;
      overflow: hidden;
      opacity: 1;
      transition: all 0.7s;
   }
   .header__drop-down.drop-down:hover > a {
      color: #000;
      border-top: 1px solid $blue;
      background-color: #fff;
      transition: all 0.7s;
   }
   .header__drop-down > a.active::after {
      transform: rotate(180deg);
   }

   .items__inner {
      flex-wrap: wrap;
      padding-left: 25px;
   }
   .item {
      width: 50%;
      margin-bottom: 25px;
      margin-right: -25px;
   }
   .clients-logo {
      padding-left: 25px;
   }
   .download__btn {
      padding-left: 25px;
      text-align: center;
   }
}

@media (max-width: 895px) {
   .footer__inner {
      flex-wrap: wrap;
   }
   .footer__item-social {
      width: 60%;
      margin-top: 20px;
   }
   .footer__logo {
      padding-left: 25px;
   }
}

@media (max-width: 720px) {
   .slider__item-title {
      font-size: 45px;
      line-height: 55px;
   }
   .clients__inner {
      flex-wrap: wrap;
   }
   .testimonials {
      margin-bottom: 25px;
      width: 100%;
   }
   .clients-logo {
      padding-left: 0;
      margin: 0 auto;
   }
   .footer__item-content {
      width: 100%;
      margin-bottom: 20px;
   }
}

@media (max-width: 695px) {
   .download {
      flex-wrap: wrap;
      padding: 25px 25px 30px 25px;
   }
   .download__text {
      margin-bottom: 20px;
   }
   .download__btn {
      padding-left: 0;
      margin: 0 auto;
   }
   .footer__item-social {
      width: 100%;
   }
}

@media (max-width: 520px) {
   .items__inner {
      padding-left: 0;
   }
   .item {
      width: 100%;
   }
   .footer__bottom {
      flex-wrap: wrap;
      text-align: center;
   }
   .footer__copy {
      margin-bottom: 20px;
   }
   .footer__logo {
      margin: 0 auto;
   }
}

@media (max-width: 440px) {
   .footer__item-contact {
      margin-top: 20px;
      width: 100%;
      text-align: center;
   }
   .footer__inner {
      justify-content: space-evenly;
      text-align: center;
   }
   .footer__item-social {
      text-align: center;
   }
}

@media (max-width: 420px) {
   .slider__item-title {
      margin-left: 20px;
      font-size: 40px;
      line-height: 45px;
   }
   .download__btn a {
      padding: 13px 15px 18px 63px;
      font-size: 15px;
   }
   .download__btn a::before {
      top: 15px;
   }
   .download__text {
      font-size: 13px;
      text-align: center;
   }
   .footer__social li {
      width: 33.33333%;
   }
}

@media (min-width: 960px) {
   .header__menu > ul {
      display: flex !important;
   }
}
